/*  Menus  */

.menu_category_cell {
	padding: 6px 0;
	border-top: 1px #000 solid;
	border-bottom: 1px #000 solid;
	font-size: 20px;
}

.menu_content_cell {
	width: 55%;
	float: left;
	font-size: 15px;
	margin: 6px 0;
}

.price-wrap {
	float: right;
	width: auto;
	margin: 6px 0;
}

.menu_content_price_cell {
	float: right;
	font-size: 15px;
	margin-left: 6px;
}

.menu_title {
	float: left;
	font-size: 17px;
}

.menu_description {
	clear: left;
	font-size: 13px;
	float: left;
}

.menu_table {
	margin-bottom: 20px;
	height: auto;
}

.menu_item {

}

.menu_notes {
	clear: left;
	text-align: center;
	font-size: 12px;
	padding-top: 22px;
}


